<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
  <div class="card-category">Popular</div>
  <div class="card-description">
    <h2>Le Wagon Shanghai</h2>
    <p>非常好的网站</p>
  </div>
  <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/xang">
  <a class="card-link" href="#" ></a>
</div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/barcelona');">
  <div class="card-category">Popular</div>
  <div class="card-description">
    <h2>Le Wagon Barcelona</h2>
    <p>El mejor sitio</p>
  </div>
  <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/jose">
  <a class="card-link" href="#" ></a>
</div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
  <div class="card-category">Popular</div>
  <div class="card-description">
    <h2>Le Wagon Berlin</h2>
    <p>Die schönste Stadt</p>
  </div>
  <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/rogerct">
  <a class="card-link" href="#" ></a>
</div>
    </div>
  </div>
</div>
